{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <form method="POST" action="/files">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="text" name="numero" value="{{numero}}" />
            <input type="submit" />
        </form>
    </div>
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            {# Display a page of todos #}
            <ul>
                {% for myfile in paginated_files %}
                <li>{{ myfile['filename'] }} - {{ myfile['upload_date'] }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script type="text/javascript">
</script> {% endblock %}