{% extends "layout.html" %} {% block content %}{{super()}}
{% import "bootstrap/wtf.html" as wtf %}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <form method="POST" action="/files">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group">
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="numero" value="{{numero}}" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" type="date" name="start" value="{{start}}" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" type="date" name="end" value="{{end}}" />
                </div>
                <input class="btn btn-default" type="submit" />
            </div>
        </form>
    </div>
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            {# Display a page of todos #}
            <table>
                {% for myfile in paginated_files %}
                <tr>
                    <td>{{ myfile['filename'] }}</td>
                    <td>{{ myfile['upload_date'] }}</td>
                    <td>
                        <a href="/file/{{ myfile['_id'] }}" target="_BLANK">Ver</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script type="text/javascript">
</script> {% endblock %}