{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div id="accordion">
            <h3>Filtros</h3>
            <div id="filtros">
                {% include "formfiltro.html" %}
            </div>
            <h3>Resultados</h3>
            <div id="resultados" class="row">
                {% include "buttons.html" %}
                <div id="list" class="row">
                <div class="col-sm-1">
                </div>
                <div class="table table-responsive col-sm-10">
                    <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive">
                        <thead>
                            <tr>
                                <td width="300" style="text-align:left">Conhecimentos</td>
                                <td>Imagem normal</td>
                                <td>Imagem diferente</td>
                            </tr>
                        </thead>
                        {% for conhecimento in conhecimentos %}
                        <tr>
                            <td width="300" style="text-align:left">
                                <div title="Visualizar lote (CE Mercante) em nova tela">
                                    <a href="cemercante/{{ conhecimento['numero'] }}" target="_BLANK">
                                    Conhecimento nº {{ conhecimento['numero'] }}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a href="file?_id={{ conhecimento['idnormal'] }}" target="_BLANK">
                                    <img src="image/{{ conhecimento['idnormal'] }}" alt="Sem imagem" width="auto" height="auto"
                                         style="border: 1px solid #000; max-width:400px; max-height:240px;"
                                    onmouseover="showMsg(this, '{{ conhecimento['idnormal'] }}')" onmouseout="clearMsg(this)"
                                    />
                                </a>
                            </td>
                            <td>
                                <a href="file?_id={{ conhecimento['idanomalo'] }}" target="_BLANK">
                                    <img src="image/{{ conhecimento['idanomalo'] }}" alt="Sem imagem" width="auto" height="auto"
                                         style="border: 1px solid #000; max-width:400px; max-height:240px;"
                                    onmouseover="showMsg(this, '{{ conhecimento['idanomalo'] }}')" onmouseout="clearMsg(this)"
                                    />
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-sm-1">
                    &nbsp;
                </div>
                </div>
                {% include "buttons.html" %}
            </div>
        </div>
    </div>
</div>
<div id="bottom" class="row">
    AJNA - Receita Federal do Brasil 2017
</div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript">

    function next_page(increment) {
        var page = Number($('#pagina_atual').val());
        new_page = page + increment;
        if (new_page <= 0) new_page = 1;
        if (new_page > {{ npaginas }}) {new_page = {{ npaginas }}};
        $('#pagina_atual').val(new_page);
        form = $('#formfiltro');
        form.submit();
    }

    function zeraeposta() {
        $('#pagina_atual').val(1);
        form = $('#formfiltro');
        form.submit();
    }

    function showMsg(img,_id) {
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    img.title = this.responseText;
                }
            }
        }
        xhttp.open("GET", "/virasana/summary/" + _id, true);
        xhttp.send();
    }
    function clearMsg(img) {
        img.title = "";
    }
    $(document).ready(function () {
        $(function () {
            $( "#accordion > div" ).accordion({
                header: "h3",
                active: false,
                collapsible: true
            });
        });
     });

</script> {% endblock %}