{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <form method="POST" id="formfiltro" action="files">
            <div class="col-sm-12">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Filtrar por número e datas</h4>
                </div>
                <div class="col-sm-3">
                    <label for="numero">Número do contêiner</label>
                </div>
                <div class="col-sm-4">
                    <label for="date">Período de escaneamento da imagem</label>
                </div>
                <div class="col-sm-2">
                    <label for="alerta">Com alerta?</label>
                </div>
                <div class="col-sm-3">
                    Página {{oform.pagina_atual.data}} de {{ npaginas }}. &nbsp;&nbsp; {{nregistros}} resultados.
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" name="numero" value="{{oform.numero.data}}" />
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" type="date" name="start" value="{{oform.start.data}}" />
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" type="date" name="end" value="{{oform.end.data}}" />
                    </div>
                    <div class="col-sm-1">
                        <input class="form-control" type="checkbox" name="alerta" {% if oform.alerta.data %} checked {% endif %} />
                    </div>
                    <div class="col-sm-1">
                        <button onclick="zeraeposta()" id="btn_filtrar" type="button" class="btn btn-default btn-info"> Filtrar </button>
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" type="hidden" id="pagina_atual" name="pagina_atual" value="{{oform.pagina_atual.data}}" />
                        <button onclick="next_page(-1)" id="btn_page1" type="button" class="btn btn-default btn-info"> < </button>
                        <button onclick="next_page(-{{npaginas // 10 + 1}})" id="btn_pagem2" type="button" class="btn btn-default btn-info"> << </button>
                        <button onclick="next_page({{npaginas // 10 + 1}})" id="btn_page3" type="button" class="btn btn-default btn-info"> >> </button>
                        <button onclick="next_page(1)" id="btn_page4" type="button" class="btn btn-default btn-info"> > </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Utilizar filtro especial de auditoria</h4>
                    {{ oform.filtro_auditoria(class='form-control') }}
                </div>
                <div class="col-sm-3">
                    <h4>Com a tag</h4>
                    {{ oform.filtro_tags(class='form-control') }}
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <h4>OU Definir filtro personalizado</h4>
        <div id="list" class="row col-sm-6">
            <form id="frmfiltros" class="form-group">
                <div class="form-group col-sm-4">
                    <select class="form-control" name="campos" id="campos">
                        <option value="0">Selecione...</option>
                        {% for campo in campos %}
                        <option value="{{ campo }}">{{ campo }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <input id="valor" class="form-control" type="text" placeholder="Valor do parâmetro">
                </div>
                <div class="form-group col-sm-4">
                    <button id="btnfiltropersonalizado" type="button" class="btn btn-default btn-info">Adicionar</button>
                </div>
            </form>
        </div>
        <div id="list" class="row col-sm-6">
            <div class="table">
                <table class="inlineTable table table-bordered table-hover table-responsive" id="filtro_personalizado_table">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for campo, valor in filtros.items() %}
                    <tr>
                        <td>{{campo}}</td>
                        <td>{{valor}}</td>
                        <td align="center">
                            <input type="button" class="btn  btn-danger" value="x" onclick="exclui_campo('{{campo}}')" />
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<div id="list" class="row">
    &nbsp;
    <div class="col-sm-1">
        &nbsp;
    </div>
    <div class="table table-responsive col-sm-10">
        {# Display a page of todos #}
        <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <td>Número informado do Contêiner</td>
                    <td>Nome do Arquivo</td>
                    <td>Data de Escaneamento</td>
                    <td>Imagens (recortadas se disponível)</td>
                    <td>Ações</td>
                </tr>
            </thead>
            {% for myfile in paginated_files %}
            <tr>
                <td>{{ myfile['numero'] }}</td>
                <td>{{ myfile['filename'] }}</td>
                <td>{{ myfile['dataescaneamento'] }}</td>
                <td>
                    <img src="image/{{ myfile['_id'] }}" alt="Sem imagem" height="60" />
                    <img src="mini1/{{ myfile['_id'] }}" alt="Sem miniatura" height="60" />
                    <img src="mini2/{{ myfile['_id'] }}" alt="Sem segundo contêiner" height="60" />
                </td>
                <td>
                    <a href="file?_id={{ myfile['_id'] }}" target="_BLANK">Ver</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm-1">
        &nbsp;
    </div>
</div>
<div id="bottom" class="row">
    AJNA - Receita Federal do Brasil 2017
</div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script type="text/javascript">

    function adicionar_campo() {
        var campo = $("#campos").val();
        var valor = $("#valor").val();
        if ((campo != '') && (valor != '')) {
            window.location.assign('files?campo=' + campo + '&valor=' + valor)
        }
    }

    function exclui_campo(campo) {
        window.location.assign('files?campo=' + campo)
    }
    function next_page(increment) {
        var page = Number($('#pagina_atual').val());
        new_page = page + increment;
        if (new_page <= 0) new_page = 1;
        if (new_page > {{ npaginas }}) {new_page = {{ npaginas }}};
        $('#pagina_atual').val(new_page);
        form = $('#formfiltro');
        form.submit();
    }

    function zeraeposta() {
        $('#pagina_atual').val(1);
        form = $('#formfiltro');
        form.submit();
    }
    function table_filtros(filtros){
        $('#filtro_personalizado_table tbody tr').remove();
        $.each(filtros, function(i, filtro) {
            $('<tr>').append(
            $('<td>').text(filtro.campo),
            $('<td>').text(filtro.valor),
            $('<td>').html('<input type="button" class="btn  btn-danger" value="x" onclick="exclui_campo("'+ filtro.campo + '")" />')
            ).appendTo('#filtro_personalizado_table');
        });
    
    }

    function exclui_campo(campo) {
            $.getJSON('filtro_personalizado', {
              campo: campo,
            }, function(filtros) {
              table_filtros(filtros);
            });
    }

    $(function() {
        var filtro_personalizado = function(e) {
          $.getJSON('filtro_personalizado', {
            campo: $('#campos').val(),
            valor: $('#valor').val(),
          }, function(filtros) {
            table_filtros(filtros);
            $('#campos').focus().select();
          });
          return false;
        };
        $('button#btnfiltropersonalizado').bind('click', filtro_personalizado);
      });

</script> {% endblock %}