{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <form method="POST" action="/stats">
        <div class="col-sm-12">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="date">Escolha o período a ser analisado</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-3">
                    <input class="form-control" type="date" name="start" value="{{oform.start.data}}" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" type="date" name="end" value="{{oform.end.data}}" />
                </div>
                <div class="col-sm-6">
                    <input class="btn btn-default btn-info" type="submit" value="Filtrar" />
                </div>
            </div>
        </div>
    </form>
    <div id="stats" class="row">
        <div class="row">
            <hr>
            <div class="col-md-6">
                {% if stats %}
                <img src="/pie" /> {% endif %}
            </div>
            <div class="col-md-6">
                {% for key, value in stats.items() %} {% if value is not mapping %}
                <li> {{ key }}: {{ value }}</li>
                {% else %} {% for campo, valor in value.items() %} {% if valor is not mapping %}
                <li> {{ campo }}: {{ valor }}</li>
                {% endif %} {% endfor %} {% endif %} {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if stats['recinto'] %}
                {% for key, value in stats['recinto'].items() %}
                <h3>Imagens por mês do Recinto {{ key }}</h3>
                <img src="/bars?recinto={{ key }}" />
                {% endfor %}{% endif %}
            </div>
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %}