{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
     <div id="top" class="row">
        <h2>Busca textual</h2>
            <div class="col-md-9">
                 <div class="ui-widget">
                       <input class="form-control" id="words" name="words" size="90%" placeholder="Entre um ou mais termos para pesquisar" />
                </div>
            </div>
            <div class="col-md-1">
                        <button class="btn btn-primary" id="btnrank" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
            </div>
            <div class="col-md-2">
                <button onclick="next_page(-1)" id="btn_page_back" type="button" class="btn btn-default btn-info"> < </button>
               <button onclick="next_page(1)" id="btn_page4_next" type="button" class="btn btn-default btn-info"> > </button>
            </div>
     </div> <!-- /#top -->
     <hr />
     <div id="list" class="row col-md-12">
        <div class="table">
            <span id="errors"></span>
            Total de documentos encontrados: <label id="total"></label>
            Página <label id="pagina">1</label> de <label id="npaginas">0</label>
            <table class="inlineTable table table-bordered table-hover table-responsive" cellspacing="0" cellpadding="0"
             id="records_table">
            <thead>
                <tr>
                    <th>Data Imagem</th>
                    <th>Descrição mercadoria</th>
                    <th>Embarcador</th>
                    <th>Ranking</th>
                    <th>Imagem</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>
     </div> <!-- /#list -->
     <div id="bottom" class="row">
        Copyleft IvanBrasilico 2017 - All stuff GPLv3 Licensed except explicited or from outer sources
     </div> <!-- /#bottom -->
 </div>  <!-- /#main -->
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON('ranked_docs', {
        phrase: $('input[name="words"]').val(),
        pagina: $("#pagina").text(),
      }, function(data) {
        console.log(data);
        $("#total").text(data.total);
        $("#pagina").text(data.pagina);
        $("#npaginas").text(data.npaginas);
        $('#records_table tbody tr').remove();
       $.each(data.docs, function(i, item) {
        $('<tr>').append(
            $('<td>').text(item.dataescaneamento),
            $('<td>').text(item.descricaomercadoria),
            $('<td>').text(item.identificacaoembarcador),
            $('<td>').text(item.timed_rank),
            $('<td>').html('<a href="file?_id=' + item._id +  '" target="_BLANK"><img src="image/' + item._id +  '" alt="Sem imagem" height="60" /></a>')
        ).appendTo('#records_table');
        });
       $('input[name="words"]').focus().select();
      });
      return false;
    };
    $('button#btnrank').bind('click', submit_form);
    $('input[type="text"]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
    $('input[name="words"]').focus();
  });
  $( function() {
    var availableTags;
    var update_drop_down = function(e) {
      $.getJSON($SCRIPT_ROOT + '/vocabulary', {
        partialword: $('input[name="words"]').val(),
      }, function(data) {
        console.log(data);
        availableTags = data;
        $( "#words" ).autocomplete({
              source: availableTags
        });
      });
      return false;
    };
  });
$( function() {
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
        var n = term.split(" ");
        return n[n.length - 1];
    }
    $( "#words" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        source: function( request, response ) {
          $.getJSON( "vocabulary", {
            partialword: extractLast( request.term )
          }, response );
        },
        search: function() {
          // custom minLength
          var term = extractLast( this.value );
          if ( term.length < 2 ) {
            return false;
          }
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = this.value.split(" ")
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( " " );
          return false;
        }
      });
  });
  function next_page(increment) {
        var page = Number($('#pagina').text());
        new_page = page + increment;
        if ((new_page >= 1) && (new_page <= Number( $('#npaginas').text() ) ) ) {
            $('#pagina').text(new_page);
            $('button#btnrank').click();
        }
  }

</script>
{% endblock %}
