{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
    </div>
    <div id="metadata" class="row">
        <div id="accordion">
            <h3>Resumo</h3>
            <div id="resumo">
                <div class="col-md-6">
                    <p>
                        <a href="/padma_proxy/{{ myfile['_id'] }}" target="_BLANK">Testar imagem</a>
                    </p>
                    <p>
                        <img src="/image/{{ myfile['_id'] }}" />
                    </p>
                    <div class="col-md-6">
                        <img src="/mini1/{{ myfile['_id'] }}" width ="200" alt="Sem miniatura" />
                    </div>
                    <div class="col-md-6">
                        <img src="/mini2/{{ myfile['_id'] }}" width ="200" alt="Sem segundo contêiner"  />
                    </div>
                </div>
                <div class="col-md-6">
                    Container: {{ myfile['metadata']['numeroinformado'] }}
                    &nbsp;<a href="/files?numero={{ myfile['metadata']['numeroinformado'] }}">
                        LISTAR TODOS AS PASSAGENS POR SCANNERS
                    </a>
                    &nbsp;<a href="/similar/{{ myfile['_id'] }}">
                        LISTAR IMAGENS SIMILARES
                    </a>
                    <br> SISTEMA CARGA
                    <br> Data de escaneamento: {{ myfile['metadata']['dataescaneamento'].strftime('%d/%m/%Y %H:%M:%S') }}
                    <br> {% if myfile['metadata']['carga'] %} Data de atracação: {{ myfile['metadata']['carga']['atracacao']['dataatracacao']
                    }} {{ myfile['metadata']['carga']['atracacao']['horaatracacao'] }}
                    <br> Data de desatracação: {{ myfile['metadata']['carga']['atracacao']['datadesatracacao'] }} {{ myfile['metadata']['carga']['atracacao']['horadesatracacao']
                    }}
                    <br> Escala: {{ myfile['metadata']['carga']['atracacao']['escala'] }}
                    <br> Manifesto: {{ myfile['metadata']['carga']['manifesto'][0]['manifesto'] }}
                    <br> Porto de carregamento: {{ myfile['metadata']['carga']['manifesto'][0]['codigoportocarregamento'] }}
                    <br> {% if myfile['metadata']['carga']['vazio'] %} VAZIO
                    <br> Dados de vazio...
                    <br> {% else %} CHEIO
                    <br> Peso bruto declarado: {{ myfile['metadata']['carga']['container'][0]['pesobrutoitem'] }} kg
                    <br> Volume: {{ myfile['metadata']['carga']['container'][0]['volumeitem'] }} m³
                    <br> NCMs:
                    <ul>
                        {% for value in myfile['metadata']['carga']['ncm'] %}
                        <li>{{value['ncm']}} - {{value['descricao']}}</li>
                        {% endfor %}
                    </ul>
                    Conhecimentos:
                    <ul>
                        {% for value in myfile['metadata']['carga']['conhecimento'] %}
                        <li>CE {{value['tipo'].upper()}} {{value['conhecimento']}} - Porto origem {{value['codigoportoorigem'].upper()}}</li>
                        <ul>
                            <li>Consignatário {{value['nomeconsignatario']}}</li>
                            <li>{{value['descricaomercadoria']}}</li>
                        </ul>
                        {% endfor %}
                    </ul>
                    {% endif %} {% else %} {% endif %}
                </div>
            </div>
            <h3>Dados do arquivo de Imagem</h3>
            <div id="file">
                <ul>
                    <li>File Name: {{ myfile['filename'] }}</li>
                    <li>Upload Date: {{ myfile['upload_date'] }}</li>
                    {% for key, value in myfile['metadata'].items() %} {% if value is not mapping %}
                    <li> {{ key }}: {{ value }}</li>
                    {% endif %} {% endfor %}
                </ul>
            </div>
            <h3>Dados do arquivo XML</h3>
            <div id="xml">
                {% if myfile['metadata']['xml'] %}
                <ul>
                    {% for key, value in myfile['metadata']['xml'].items() %}
                    <li> {{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <h3>Dados do módulo PADMA - Predições por IA</h3>
            <div id="padma">
                {% if myfile['metadata']['predictions'] %}
                <ul>{% for pred in myfile['metadata']['predictions'] %}
                    {% for key, value in pred.items() %}
                    <li> {{ key }}: {{ value }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <h3>Dados do sistema CARGA</h3>
            <div id="carga">
                {% if myfile['metadata']['carga'] %}
                <ul>
                    {% for key, value in myfile['metadata']['carga'].items() %} {% if key == 'vazio' %}
                    <h5>{% if value %}VAZIO{% else %}CHEIO{% endif %}</h5>
                    {% else %}
                    <li>{{key}}</li>
                    <ul>
                        {% if key == 'atracacao' %} {% for campo, valor in value.items() %}
                        <li> {{ campo }}: {{ valor }}</li>
                        {% endfor %} {% else %} {% for linha in value %}
                        <ul>{% for campo, valor in linha.items() %}
                            <li> {{ campo }}: {{ valor }}</li>
                            {% endfor %} </ul>{% endfor %} {% endif %}
                    </ul>
                    {% endif %} {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="bottom" class="row">
        <div class="col-md-12">
            AJNA - Receita Federal do Brasil 2017
        </div>
    </div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#accordion").accordion({
                heightStyle: "fill",
                active: 0
            });
        });
    });
</script> {% endblock %}