{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
    </div>
    <div id="img_enhance" class="row">
        <h3>Filtros de imagem</h3>
        <div id="sliders" class="row">
            <form method="POST" id="imgform" action="/virasana/view_image">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="_id" value="{{ _id }}"/>
                <div class="slidecontainer col-md-3">
                    Aumento do contraste (zerar para original)
                    <input type="range" min="0" max="48" value="{{ imgform.cutoff.data }}" class="slider" id="cutoff"
                           name="cutoff" onchange="this.form.submit()">
                </div>
                <div class="slidecontainer col-md-3">
                    Multiplicador da colorização
                    <input type="range" min="8" max="30" value="{{ imgform.alpha.data }}" class="slider" id="alpha"
                           name="alpha" onchange="this.form.submit()">
                </div>
                <div class="slidecontainer col-md-3">
                    Exponenciador da colorização
                    <input type="range" min="8" max="20" value="{{ imgform.beta.data }}" class="slider" id="beta"
                           name="beta" onchange="this.form.submit()">
                </div>
                <div class="col-md-2">
                    <input type="checkbox" id="equalize" name="equalize" {% if imgform.equalize.data %} checked {% endif %}
                           onchange="this.form.submit()"/>
                    &nbsp;Equalizar colorização
                </div>
                <div class="col-md-1">
                    <input class="btn btn-default btn-info" type="submit" value="Atualizar"/>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            Contraste aumentado
            <img src="/virasana/contrast?_id={{ _id }}&cutoff={{ imgform.cutoff.data }}" width="90%"
                 alt="Sem miniatura"/>
        </div>
        <div class="col-md-6">
            Contraste realçado
            <img src="/virasana/contrast_cv2/{{ _id }}" width="90%" alt="Sem miniatura"/>
        </div>
        <div class="col-md-6">
            Equalização de histograma
            <img src="/virasana/equalize/{{ _id }}" width="90%" alt="Sem miniatura"/>
        </div>
        <div class="col-md-6">
            Colorização com expansão liner e exponencial de contraste
            <img src="/virasana/colorize?_id={{ _id }}&alpha={{ imgform.alpha.data }}&beta={{ imgform.beta.data }}&equalize={{ imgform.equalize.data}}"
                 width="90%" alt="Sem miniatura"/>
        </div>
    </div>
</div>
<div id="bottom" class="row">
    <div class="col-md-12">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript">
</script> {% endblock %}