{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
    </div>
    <div id="metadata" class="row">
        <div id="accordion">
            <h3>Resumo</h3>
            <div id="resumo">
                <div class="col-md-6">
                    {% if myfile %}
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="padma_proxy/{{ myfile['_id'] }}" target="_BLANK">Predições imagem</a>
                            </li>
                            <li>
                                <a href="files?numero={{ myfile['metadata']['numeroinformado'] }}">
                                    Listar todas as passages por escâner
                                </a>
                            </li>
                            <li>
                                <a href="similar/{{ myfile['_id'] }}">
                                    Buscar imagens similares
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img src="image/{{ myfile['_id'] }}" width="500" height="250"/>
                    <div class="col-md-6">
                        <img src="mini1/{{ myfile['_id'] }}" width="250" height="180" alt="Sem miniatura"/>
                    </div>
                    <div class="col-md-6">
                        <img src="mini2/{{ myfile['_id'] }}" width="250" height="180" alt="Sem segundo contêiner"/>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <br> {{ summary|safe }}
                    <br> {{ summary_carga|safe }}
                </div>
            </div>
            {% if myfile %}
            <h3>Anotações</h3>
            <div id="anotacoes">
                <h4>Tags</h4>
                {% if myfile['metadata']['ocorrencias'] %}
                <ul>
                    <li>Tags: {{ myfile['metadata']['tags'] }}</li>
                    {% for tag in myfile['metadata']['tags'] %}
                    <li> {{ tag }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h4>Ocorrências</h4>
                <form id="frmocorrencias" class="form-group">
                    <div class="form-group col-sm-4">
                        <input id="txtocorrencia" class="form-control" type="text" placeholder="Texto da ocorrência">
                    </div>
                    <div class="form-group col-sm-4">
                        <button id="btnaddocorrencia" type="button" class="btn btn-default btn-info">Adicionar</button>
                    </div>
                </form>
                <div id="list" class="row col-sm-6">
                    <div class="table">
                        <table class="inlineTable table table-bordered table-hover table-responsive"
                               id="ocorrencias_table">
                            <thead>
                            <tr>
                                <th>Usuário</th>
                                <th>Texto</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if ocorrencias %}
                            {% for ocorrencia in ocorrencias %}
                            <tr>
                                <td>{{ocorrencia.usuario}}</td>
                                <td>{{ocorrencia.texto}}</td>
                                <td align="center">
                                    <input type="button" class="btn  btn-danger" value="x"
                                           onclick="exclui_ocorrencia('{{ocorrencia.texto}}')"/>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h3>Dados do arquivo de Imagem</h3>
            <div id="file">
                <ul>
                    <li>File Name: {{ myfile['filename'] }}</li>
                    <li>Upload Date: {{ myfile['upload_date'] }}</li>
                    {% for key, value in myfile['metadata'].items() %}
                    {% if (value is not mapping) and (value is not iterable or value is string) %}
                    <li> {{ key }}: {{ value }}</li>
                    {% endif %} {% endfor %}
                </ul>
            </div>
            {% endif %}
            <h3>Dados do arquivo XML</h3>
            <div id="xml">
                {% if myfile['metadata']['xml'] %}
                <ul>
                    {% for key, value in myfile['metadata']['xml'].items() %}
                    <li> {{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <h3>Dados do módulo PADMA - Predições por IA</h3>
            <div id="padma">
                {% if myfile['metadata']['predictions'] %}
                <ul>{% for pred in myfile['metadata']['predictions'] %} {% for key, value in pred.items() %}
                    <li> {{ key }}: {{ value }}</li>
                    {% endfor %} {% endfor %}
                </ul>
                {% endif %}
            </div>
            <h3>Dados do sistema CARGA</h3>
            <div id="carga">
                {% if myfile['metadata']['carga'] %}
                <ul>
                    {% for key, value in myfile['metadata']['carga'].items() %} {% if key == 'vazio' %}
                    <h5>{% if value %}VAZIO{% else %}CHEIO{% endif %}</h5>
                    {% else %}
                    <li>{{key}}</li>
                    <ul>
                        {% if key == 'atracacao' %} {% for campo, valor in value.items() %}
                        <li> {{ campo }}: {{ valor }}</li>
                        {% endfor %} {% else %} {% for linha in value %}
                        <ul>{% for campo, valor in linha.items() %}
                            <li> {{ campo }}: {{ valor }}</li>
                            {% endfor %}
                        </ul>
                        {% endfor %} {% endif %}
                    </ul>
                    {% endif %} {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="bottom" class="row">
        <div class="col-md-12">
            AJNA - Receita Federal do Brasil 2017
        </div>
    </div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#accordion").accordion({
                heightStyle: "fill",
                active: 0
            });
        });
        $(function() {
            var add_ocorrencia = function(e) {
              $.getJSON("ocorrencia/add", {
                texto: $('#ocorrencia').val(),
                _id: "{{ myfile['_id'] }}"
              }, function(ocorrencias) {
                table_ocorrencias(filtros);
                $('#txtocorrencia').focus().select();
              });
              return false;
            };
            $('button#btnaddocorrencia').bind('click', add_ocorrencia);
        });
        function exclui_ocorrencia(texto) {
                $.getJSON("ocorrencia/del", {
                    _id: "{{ myfile['_id'] }}",
                    texto: $('#ocorrencia').val(),
                }, function(ocorrencias) {
                  table_ocorrencias(ocorrencias);
                });
        };
        function table_ocorrencias(ocorrencias){
            $("#ocorrencias_table tbody tr").remove();
            $.each(ocorrencias.ocorrencias, function(i, ocorrencia) {
                $('<tr>').append(
                $('<td>').text(ocorrencia.usuario),
                $('<td>').text(ocorrencia.texto),
                $('<td>').html('<input type="button" class="btn  btn-danger" value="x" onclick="exclui_ocorrencia("'+ ocorrencia.id + '")" />')
                ).appendTo('#ocorrencias_table');
            });
        };
     });



</script> {% endblock %}