{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
    </div>
    <div id="metadata" class="row">
        <div id="accordion">
            <h3>Dados do arquivo de Imagem</h3>
            <div id="file">
                <div class="col-md-6">
                    <img src="/image/{{ myfile['_id'] }}" />
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>File Name: {{ myfile['filename'] }}</li>
                        <li>Upload Date: {{ myfile['upload_date'] }}</li>
                        {% for key, value in myfile['metadata'].items() %} {% if value is not mapping %}
                        <li> {{ key }}: {{ value }}</li>
                        {% endif %} {% endfor %}
                    </ul>
                </div>
            </div>
            <h3>Dados do arquivo XML</h3>
            <div id="xml">
                {% if myfile['metadata']['xml'] %}
                <ul>
                    {% for key, value in myfile['metadata']['xml'].items() %}
                    <li> {{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <h3>Dados do sistema CARGA</h3>
            <div id="carga">
                {% if myfile['metadata']['carga'] %}
                <ul>
                    {% for key, value in myfile['metadata']['carga'].items() %} {% if key == 'vazio' %}
                    <h5>{% if value %}VAZIO{% else %}CHEIO{% endif %}</h5>
                    {% else %}
                    <li>{{key}}</li>
                    <ul>
                        {% if key == 'atracacao' %} {% for campo, valor in value.items() %}
                        <li> {{ campo }}: {{ valor }}</li>
                        {% endfor %} {% else %} {% for linha in value %} <ul>{% for campo, valor in linha.items() %}
                        <li> {{ campo }}: {{ valor }}</li>
                        {% endfor %} </ul>{% endfor %} {% endif %}
                    </ul>
                    {% endif %} {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div id="bottom" class="row">
    AJNA - Receita Federal do Brasil 2017
</div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#accordion").accordion({
                heightStyle: "fill",
                active: 0
            });
        });
    });
</script> {% endblock %}