{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div class="col-sm-8">
            Conhecimento: {{ conhecimento['conhecimento'] }}<br>
            Embarcador: {{ conhecimento['identificacaoembarcador'] }}<br>
            Consignatário: {{ conhecimento['nomeconsignatario'] }}<br>
            Notificado: {{ conhecimento['identificacaonotificado'] }} <br>
            Consignatário Estrangeiro: {{ conhecimento['nomeconsignatarioestrangeiro'] }}<br>
            Descrição Mercadoria:{{ conhecimento['descricaomercadoria'] }}<br>
        </div>
        <div class="col-sm-4">
            <form method="POST" id="imgform" action="/virasana/cemercante">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="numero" value="{{ conhecimento['conhecimento'] }}"/>
                    <input type="checkbox" id="contrast" name="contrast" {% if contrast %} checked {% endif %}
                           onchange="this.form.submit()"/>
                    &nbsp;Expandir contraste<br>
                    <input type="checkbox" id="color" name="color" {% if color %} checked {% endif %}
                           onchange="this.form.submit()"/>
                    &nbsp;Equalizar e colorir<br>
            </form>
    </div>
    <div id="list" class="row">
    <div class="col-sm-1">
    </div>
    <div class="table table-responsive col-sm-10">
        <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <td width="300" style="text-align:left">Contêineres</td>
                    <td>Imagem contêiner</td>
                    <td>Z Score</td>
                </tr>
            </thead>
            {% for imagem in imagens %}
            <tr>
                <td width="300" style="text-align:left">
                    Conteiner nº <b>{{ imagem['container'] }}
                </td>
                <td>
                    <a href="/virasana/file?_id={{ imagem['_id'] }}" target="_BLANK">
                        <img src="/virasana/image/{{ imagem['_id'] }}?contrast={{ contrast }}&color={{ color }}" alt="Sem imagem" width="auto" height="auto"
                             style="border: 1px solid #000; max-width:800px; max-height:320px;"
                        onmouseover="showMsg(this, '{{ imagem['_id'] }}')" onmouseout="clearMsg(this)"
                        />
                    </a>
                </td>
                <td>
                    {{ imagem['zscore'] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm-1">
        &nbsp;
    </div>
</div>
<div id="bottom" class="row">
    AJNA - Receita Federal do Brasil 2017
</div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script type="text/javascript">

    function showMsg(img,_id) {
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    img.title = this.responseText;
                }
            }
        }
        xhttp.open("GET", "/virasana/summary/" + _id, true);
        xhttp.send();
    }
    function clearMsg(img) {
        img.title = "";
    }


</script> {% endblock %}